<h1 class="m-3">Latest Articles</h1>
<%= link_to "New Article", new_article_path, class: "btn btn-primary btn-lg my-3", id: "new-article-btn" %>
<% if @articles.empty? %>
  <h1 id="no-articles">No Articles Created</h1>
<% else %>
  <% @articles.each do |article| %>
    <div class="card p-3 my-3" style="background-color: white">
      <div class="mb-3 pl-3">
        <h2><%= link_to article.title, article_path(article), class: "text-decoration-none" %></h2>
      </div>
      <div class="text-muted mb-2">
        <i class="far fa-calendar-times me-2"></i><%= article.updated_at.strftime("%m %b, %G") %>
      </div>
      <div class="pl-3">
        <%= truncate(article.body, length: 500) %>
      </div>
      <div>
        <small>Created by: <%= article.user.email %></small>
      </div>
    </div>
  <% end %>
<% end %>
