<article class="mt-4">
  <h1 class="mb-4"><%= @article.title.titleize %> said me</h1>

  <div>
    <i class="far fa-calendar-times"></i>
    <%= @article.created_at.strftime("%b %d %Y") %>
  </div>

  <div class="mt-3">
    <p><%= @article.body %></p>
  </div>

  <div>
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg" %>

    <%= link_to "Delete Article", article_path(@article), method: :delete,
                data: { confirm: "Are you sure you wish to delete this article?" },
                class: 'btn btn-outline-danger btn-lg mx-3' %>

  </div>
</article>
