<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to "Blog App", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><%= link_to "Authors", "#", class: "nav-link active" %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Log in", new_user_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>